## STEG 1: DATAINSAMLING 

**Uppgift**: Ladda in data och beskriv den

In [5]:
#Importera pandas
import pandas as pd

#Ladda in data fr친n CSV-fil
df_home = pd.read_csv("Real_estate.csv") 
df_home = pd.DataFrame(df_home)

# Visa f칬rsta 5 raderna
df_home.head() 
print(df_home.head())

#Visa antal rader och kolumner
rader = len(df_home)
kolumner = len(df_home.columns)
print(f"Antal rader: {rader}") 
print(f"Antal kolumner: {kolumner}")

#Lista alla kolumner
columns = list(df_home.columns) 
print(columns)

   No  X1 transaction date  X2 house age  \
0   1             2012.917          32.0
1   2             2012.917          19.5
2   3             2013.583          13.3
3   4             2013.500          13.3
4   5             2012.833           5.0

   X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                84.87882                               10
1                               306.59470                                9
2                               561.98450                                5
3                               561.98450                                5
4                               390.56840                                5

   X5 latitude  X6 longitude  Y house price of unit area
0     24.98298     121.54024                        37.9
1     24.98034     121.53951                        42.2
2     24.98746     121.54391                        47.3
3     24.98746     121.54391                        54.8
4     24.97937     121.54245                        43.1
Antal rader: 414
Antal kolumner: 8
['No', 'X1 transaction date', 'X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'X5 latitude', 'X6 longitude', 'Y house price of unit area']

Datasetet visar fastighetspriser i Taiwan och de olika faktorer som p친verkar dessa priser. X-kolumnerna(input) representerar de faktorer som kan p친verka priset, medan kolumnen Y(output) representerar sj칛lva fastighetspriset, dvs. det v칛rde vi vill f칬ruts칛ga. 

---

## STEG 2: DATARENSNING 

**Uppgift**: Verifiera att data 칛r OK

In [20]:
#Kolla efter saknade v칛rden
print("Saknade v칛rden per kolumn:")
print(df_home.isna().sum())


#Kolla efter duplikater
print("\nAntal dubletter (hela rader som 칛r kopior):")
print(df_home.duplicated().sum())


#Visa statistik f칬r numeriska kolumner
print("\nStatistik f칬r numeriska kolumner:")
print(df_home.describe())


# TODO: Kolla efter outliers (extremv칛rden)
#df_home.boxplot(column=['X2 house age', 'X3 distance to the nearest MRT station', 'X4 number of convenience stores', 'Y house price of unit area'])

cols = ['X2 house age', 
        'X3 distance to the nearest MRT station', 
        'X4 number of convenience stores', 
        'Y house price of unit area']

Q1 = df_home[cols].quantile(0.25)
Q3 = df_home[cols].quantile(0.75)
IQR = Q3 - Q1

outliers = (df_home[cols] < (Q1 - 1.5 * IQR)) | (df_home[cols] > (Q3 + 1.5 * IQR))
rows_with_outliers = df_home[outliers.any(axis=1)]

# 游녤 Print outlier rows
print(rows_with_outliers)

Saknade v칛rden per kolumn:
No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

Antal dubletter (hela rader som 칛r kopior):
0

Statistik f칬r numeriska kolumner:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000
      No  X1 transaction date  X2 house age  \
8      9             2013.500          31.7
30    31             2013.500          25.9
35    36             2013.500          13.9
40    41             2013.000          13.6
41    42             2013.500          16.8
48    49             2013.417          24.2
49    50             2012.667          29.4
58    59             2013.500          30.3
73    74             2013.167          13.8
87    88             2013.583          16.9
89    90             2013.500          23.0
116  117             2013.000          30.9
117  118             2013.000          13.6
148  149             2013.500          16.4
154  155             2013.500          16.9
155  156             2013.167          13.8
162  163             2012.750          16.0
170  171             2013.333          24.0
176  177             2012.833          13.9
180  181             2012.667          26.9
183  184             2013.500          17.0
189  190             2012.917          16.3
194  195             2013.500          15.2
220  221             2013.333          37.2
226  227             2013.000          16.5
231  232             2012.833          16.2
232  233             2012.917          27.1
249  250             2012.833          18.0
255  256             2013.417          31.5
270  271             2013.333          10.8
298  299             2013.333          16.7
312  313             2013.583          35.4
320  321             2012.750          13.5
329  330             2013.000          13.6
331  332             2013.333          25.6
347  348             2013.583          17.4
382  383             2013.000          16.3
384  385             2012.750          16.1
394  395             2013.500          32.6
409  410             2013.000          13.7

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
8                                 5512.0380                                1
30                                4519.6900                                0
35                                4079.4180                                0
40                                4082.0150                                0
41                                4066.5870                                0
48                                4605.7490                                0
49                                4510.3590                                1
58                                4510.3590                                1
73                                4082.0150                                0
87                                4066.5870                                0
89                                3947.9450                                0
116                               6396.2830                                1
117                               4197.3490                                0
148                               3780.5900                                0
154                               4066.5870                                0
155                               4082.0150                                0
162                               4066.5870                                0
170                               4527.6870                                0
176                               4573.7790                                0
180                               4449.2700                                0
183                               4082.0150                                0
189                               4066.5870                                0
194                               3771.8950                                0
220                                186.5101                                9
226                               4082.0150                                0
231                               4074.7360                                0
232                               4412.7650                                1
249                               6306.1530                                1
255                               5512.0380                                1
270                                252.5822                                1
298                               4082.0150                                0
312                                318.5292                                9
320                               4197.3490                                0
329                               4197.3490                                0
331                               4519.6900                                0
347                               6488.0210                                1
382                               3529.5640                                0
384                               4066.5870                                0
394                               4136.2710                                1
409                               4082.0150                                0

     X5 latitude  X6 longitude  Y house price of unit area
8       24.95095     121.48458                        18.8
30      24.94826     121.49587                        22.1
35      25.01459     121.51816                        27.3
40      24.94155     121.50381                        15.9
41      24.94297     121.50342                        18.2
48      24.94684     121.49578                        13.4
49      24.94925     121.49542                        13.2
58      24.94925     121.49542                        22.6
73      24.94155     121.50381                        20.0
87      24.94297     121.50342                        18.3
89      24.94783     121.50243                        25.3
116     24.94375     121.47883                        12.2
117     24.93885     121.50383                        13.0
148     24.93293     121.51203                        45.1
154     24.94297     121.50342                        20.7
155     24.94155     121.50381                        15.6
162     24.94297     121.50342                        11.6
170     24.94741     121.49628                        14.4
176     24.94867     121.49507                        19.2
180     24.94898     121.49621                        15.5
183     24.94155     121.50381                        18.8
189     24.94297     121.50342                        20.5
194     24.93363     121.51158                        29.3
220     24.97703     121.54265                        78.3
226     24.94155     121.50381                        12.8
231     24.94235     121.50357                        14.7
232     24.95032     121.49587                        17.4
249     24.95743     121.47516                        15.0
255     24.95095     121.48458                        17.4
270     24.97460     121.53046                       117.5
298     24.94155     121.50381                        16.7
312     24.97071     121.54069                        78.0
320     24.93885     121.50383                        18.6
329     24.93885     121.50383                        19.2
331     24.94826     121.49587                        15.6
347     24.95719     121.47353                        11.2
382     24.93207     121.51597                        29.3
384     24.94297     121.50342                        12.9
394     24.95544     121.49630                        24.7
409     24.94155     121.50381                        15.4

**Slutsats**: [츿r datan OK? Finns det problem?]

---

## STEG 3: DATAANALYS 

**Uppgift**: V칛lj 2 analyser med grafer

### ANALYS 1: [V칛lj en analys fr친n instruktionerna]

**Fr친ga**: [Vad vill ni ta reda p친?]

In [ ]:
# TODO: Importera matplotlib
import matplotlib.pyplot as plt

# TODO: G칬r din analys h칛r


# TODO: Skapa en graf

**Resultat**: [Vad ser ni i grafen? 2-3 meningar]

---

### ANALYS 2: [V칛lj en till analys]

**Fr친ga**: [Vad vill ni ta reda p친?]

In [ ]:
# TODO: G칬r din analys h칛r


# TODO: Skapa en graf

**Resultat**: [Vad ser ni? 2-3 meningar]

---

## STEG 4: PREDIKTIV MODELL 

**Uppgift**: Bygg en modell som f칬ruts칛ger energif칬rbrukning

### 4.1 V칛lj Features

**F칬rklaring**: [Vilka features valde ni och VARF칐R?]

In [ ]:
# TODO: Importera sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error

# TODO: V칛lj features (X) och target (Y)
# X = 
# Y = 

# TODO: Dela data i tr칛ning och test (80/20)

### 4.2 Bygg och tr칛na modellen

In [ ]:
# TODO: Skapa modellen


# TODO: Tr칛na modellen


# TODO: G칬r prediktioner p친 testdata

### 4.3 Utv칛rdera modellen

In [ ]:
# TODO: Ber칛kna R score


# TODO: Ber칛kna MAE (Mean Absolute Error)


# TODO: Skapa en graf som visar prediktioner vs verkliga v칛rden

**Resultat**: 
- R Score: [Ditt v칛rde h칛r]
- MAE: [Ditt v칛rde h칛r]

**Diskussion**: [츿r modellen bra eller d친lig? Varf칬r? 3-5 meningar]

---

## STEG 5: REKOMMENDATIONER - VG uppgift

Baserat p친 era analyser, ge  **1 konkret rekommendation**.

### REKOMMENDATION 1: [Titel]

**Varf칬r**: [Baserat p친 vilken analys?]

**칀tg칛rd**: [Vad ska familjen g칬ra?]

**Effekt**: [Vad h칛nder?]

---