In [3]:
import pandas as pd
kalori = pd.read_csv('övningsdata.csv')

df= pd.DataFrame(kalori)
df.head()

         Date  Steps  Calories_Burned
0  2025-01-01  10993              421
1  2025-01-02   9723              334
2  2025-01-03  11295              365
3  2025-01-04  13046              479
4  2025-01-05   9531              465

In [9]:
data = { "city":["Stockholm","Göteborg","Malmö"],"temp":[10,17,20], "date":["2024-06-01","2024-06-01","2024-06-01"] }
df2 = pd.DataFrame(data)
df2.head()

        city  temp        date
0  Stockholm    10  2024-06-01
1   Göteborg    17  2024-06-01
2      Malmö    20  2024-06-01

In [16]:
data = {
    "kund_id": [101, 102, 103, 101, 104, 105, 106, 107, 108, 109],
    "datum": [
        "2024-12-28", "2025-01-02", "2025-01-03", "2025-01-05",
        "2025-01-06", "2025-01-08", "2025-01-08", "2025-01-09",
        "2025-01-10", "2025-01-10"
    ],
    "produkt": [
        "Laptop", "Mobilskal", "Hörlurar", "Mus", "Tangentbord",
        "Skärm", "Mobiltelefon", "Webbkamera", "Skrivare", "USB-minne"
    ],
    "kategori": [
        "Elektronik", "Tillbehör", "Ljud", "Tillbehör", "Tillbehör",
        "Elektronik", "Elektronik", "Tillbehör", "Elektronik", "Tillbehör"
    ],
    "pris": [12000, 199, 899, 349, 499, 2200, 8500, 699, 1499, 129],
    "antal": [1, 2, 1, 1, 1, 2, 1, 3, 1, 4],
    "stad": [
        "Stockholm", "Göteborg", "Malmö", "Stockholm", "Uppsala",
        "Stockholm", "Lund", "Göteborg", "Umeå", "Västerås"
    ]
}

df = pd.DataFrame(data)
df.head()
df.describe()

          kund_id          pris     antal
count   10.000000     10.000000  10.00000
mean   104.600000   2697.300000   1.70000
std      2.875181   4113.751655   1.05935
min    101.000000    129.000000   1.00000
25%    102.250000    386.500000   1.00000
50%    104.500000    799.000000   1.00000
75%    106.750000   2024.750000   2.00000
max    109.000000  12000.000000   4.00000

In [14]:
df = df[(df["stad"] == "Stockholm") & (df["datum"] >= "2024-01-01")]
df.head()

   kund_id       datum produkt    kategori   pris  antal       stad
0      101  2024-12-28  Laptop  Elektronik  12000      1  Stockholm
3      101  2025-01-05     Mus   Tillbehör    349      1  Stockholm
5      105  2025-01-08   Skärm  Elektronik   2200      2  Stockholm

In [13]:
df.describe()

          kund_id          pris     antal
count    3.000000      3.000000  3.000000
mean   102.333333   4849.666667  1.333333
std      2.309401   6261.150081  0.577350
min    101.000000    349.000000  1.000000
25%    101.000000   1274.500000  1.000000
50%    101.000000   2200.000000  1.000000
75%    103.000000   7100.000000  1.500000
max    105.000000  12000.000000  2.000000

In [17]:
# Visa färre decimaler
df.describe().round(2)

       kund_id      pris  antal
count    10.00     10.00  10.00
mean    104.60   2697.30   1.70
std       2.88   4113.75   1.06
min     101.00    129.00   1.00
25%     102.25    386.50   1.00
50%     104.50    799.00   1.00
75%     106.75   2024.75   2.00
max     109.00  12000.00   4.00

In [13]:
import pandas as pd
csv_path = "data\smart_home_energy_consumption_large.csv"
df = pd.read_csv(csv_path)
df.head(30)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\marya\AppData\Local\Temp\ipykernel_30516\1230364175.py:2: SyntaxWarning: invalid escape sequence '\s'
  csv_path = "data\smart_home_energy_consumption_large.csv"

,Home ID,Appliance Type,Energy Consumption (kWh),Time,Date,Outdoor Temperature (°C),Season,Household Size
0,94,Fridge,0.20,21:12,2023-12-02,-1.0,Fall,2
1,435,Oven,0.23,20:11,2023-08-06,31.1,Summer,5
2,466,Dishwasher,0.32,06:39,2023-11-21,21.3,Fall,3
3,496,Heater,3.92,21:56,2023-01-21,-4.2,Winter,1
4,137,Microwave,0.44,04:31,2023-08-26,34.5,Summer,5
5,68,Air Conditioning,4.68,11:36,2023-05-06,35.2,Spring,1
6,237,Computer,0.25,12:05,2023-06-06,6.8,Spring,3
7,329,Air Conditioning,3.50,03:34,2023-12-12,-1.0,Fall,4
8,336,Dishwasher,0.89,15:22,2023-08-16,7.9,Summer,1
9,310,Microwave,1.34,16:32,2023-09-19,9.3,Summer,5
10,368,Oven,0.64,11:19,2023-10-19,-7.3,Fall,3
11,115,Dishwasher,1.33,17:51,2023-05-17,39.0,Spring,2
12,41,Microwave,0.85,19:53,2023-02-21,-7.4,Winter,3
13,465,Oven,1.24,13:29,2023-11-17,20.3,Fall,5
14,94,Air Conditioning,2.88,00:13,2023-05-15,2.1,Spring,1
15,229,Heater,4.11,00:57,2023-04-26,-0.3,Spring,2
16,360,Fridge,0.12,08:40,2023-10-24,39.8,Fall,2
17,71,TV,1.65,04:16,2023-08-09,3.0,Summer,4
18,352,Dishwasher,1.62,17:18,2023-12-20,16.3,Fall,4
19,445,Dishwasher,1.33,04:17,2023-10-30,30.9,Fall,5
20,257,Computer,0.35,19:46,2023-11-24,12.4,Fall,5
21,133,Washing Machine,1.09,04:45,2023-10-23,6.5,Fall,3
22,372,Air Conditioning,3.05,19:43,2023-10-16,30.6,Fall,4
23,253,Heater,4.87,05:09,2023-09-05,29.0,Summer,2
24,59,Lights,1.02,03:42,2023-12-22,1.1,Fall,3
25,419,Oven,0.65,02:57,2023-01-12,5.3,Winter,4
26,466,Heater,2.03,16:04,2023-06-05,15.3,Spring,5
27,281,Oven,0.28,08:40,2023-03-25,19.0,Winter,5
28,257,Air Conditioning,4.84,10:06,2023-11-20,-8.0,Fall,4
29,120,Oven,0.38,19:45,2023-03-02,24.6,Winter,4

In [14]:
df_student= pd.read_csv("data\StudentPerformanceFactors.csv")
df_student.head(30)

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\marya\AppData\Local\Temp\ipykernel_30516\3804701900.py:1: SyntaxWarning: invalid escape sequence '\S'
  df_student= pd.read_csv("data\StudentPerformanceFactors.csv")

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
5,19,88,Medium,Medium,Yes,8,89,Medium,Yes,3,Medium,Medium,Public,Positive,3,No,Postgraduate,Near,Male,71
6,29,84,Medium,Low,Yes,7,68,Low,Yes,1,Low,Medium,Private,Neutral,2,No,High School,Moderate,Male,67
7,25,78,Low,High,Yes,6,50,Medium,Yes,1,High,High,Public,Negative,2,No,High School,Far,Male,66
8,17,94,Medium,High,No,6,80,High,Yes,0,Medium,Low,Private,Neutral,1,No,College,Near,Male,69
9,23,98,Medium,Medium,Yes,8,71,Medium,Yes,0,High,High,Public,Positive,5,No,High School,Moderate,Male,72
10,17,80,Low,High,No,8,88,Medium,No,4,Medium,High,Private,Neutral,4,No,College,Moderate,Male,68
11,17,97,Medium,High,Yes,6,87,Low,Yes,2,Low,High,Private,Neutral,2,No,High School,Near,Male,71
12,21,83,Medium,Medium,Yes,8,97,Low,Yes,2,Medium,Medium,Public,Positive,4,No,High School,Near,Male,70
13,9,82,Medium,Medium,Yes,8,72,Medium,Yes,2,Medium,Medium,Private,Positive,3,No,Postgraduate,Near,Male,66
14,10,78,Medium,High,Yes,8,74,Medium,Yes,1,Low,Medium,Private,Neutral,4,No,Postgraduate,Near,Male,65
15,17,68,Medium,Medium,No,8,70,Medium,Yes,2,Medium,Medium,Private,Positive,4,No,High School,Near,Female,64
16,14,60,Medium,Low,Yes,10,65,Low,Yes,0,High,Medium,Private,Positive,3,No,College,Near,Male,60
17,22,70,Low,Medium,Yes,6,82,Medium,Yes,1,Low,High,Public,Neutral,3,No,High School,Near,Female,65
18,15,80,Medium,Medium,Yes,9,91,Low,Yes,3,Low,Medium,Public,Positive,2,No,College,Moderate,Female,67
19,12,75,Medium,High,Yes,7,58,Medium,Yes,3,Medium,Medium,Private,Positive,4,No,College,Near,Male,66
20,29,78,Medium,Medium,No,5,99,High,Yes,0,High,Medium,Public,Negative,1,No,High School,Moderate,Female,69
21,19,99,Medium,High,No,6,84,Medium,Yes,1,Medium,High,Public,Neutral,3,No,High School,Near,Male,72
22,20,74,Medium,High,No,8,89,Low,Yes,1,Medium,Medium,Public,Negative,2,No,College,Moderate,Female,66
23,11,78,High,Medium,Yes,8,100,High,Yes,1,Low,Medium,Public,Neutral,3,No,High School,Moderate,Male,66
24,17,65,Low,High,Yes,5,75,Medium,Yes,2,Low,Medium,Public,Positive,3,No,High School,Near,Female,63
25,21,62,High,Low,Yes,6,54,High,Yes,0,High,High,Public,Positive,3,No,Postgraduate,Far,Male,64
26,13,91,Low,Medium,No,6,90,Medium,Yes,1,High,Medium,Public,Negative,2,Yes,High School,Moderate,Female,65
27,22,83,High,High,Yes,6,94,Medium,Yes,0,High,Medium,Public,Neutral,2,No,College,Moderate,Male,71
28,16,90,Medium,Medium,No,4,58,Medium,Yes,1,Low,Medium,Public,Neutral,3,No,High School,Moderate,Female,66
29,18,66,High,High,No,4,51,Low,Yes,2,Low,Medium,Private,Neutral,2,No,College,Near,Male,64

In [15]:
# Undersök smart home dataset
import pandas as pd
df_smart = pd.read_csv("data/smart_home_energy_consumption_large.csv")
print("Smart Home Dataset:")
print(f"Shape: {df_smart.shape}")
print(f"Columns: {list(df_smart.columns)}")
print("\nFirst 5 rows:")
df_smart.head()

Smart Home Dataset:
Shape: (100000, 8)
Columns: ['Home ID', 'Appliance Type', 'Energy Consumption (kWh)', 'Time', 'Date', 'Outdoor Temperature (°C)', 'Season', 'Household Size']

First 5 rows:

,Home ID,Appliance Type,Energy Consumption (kWh),Time,Date,Outdoor Temperature (°C),Season,Household Size
0,94,Fridge,0.20,21:12,2023-12-02,-1.0,Fall,2
1,435,Oven,0.23,20:11,2023-08-06,31.1,Summer,5
2,466,Dishwasher,0.32,06:39,2023-11-21,21.3,Fall,3
3,496,Heater,3.92,21:56,2023-01-21,-4.2,Winter,1
4,137,Microwave,0.44,04:31,2023-08-26,34.5,Summer,5

In [16]:
# Undersök student dataset
df_student = pd.read_csv("data/StudentPerformanceFactors.csv")
print("Student Performance Dataset:")
print(f"Shape: {df_student.shape}")
print(f"Columns: {list(df_student.columns)}")
print("\nFirst 5 rows:")
df_student.head()

Student Performance Dataset:
Shape: (6607, 20)
Columns: ['Hours_Studied', 'Attendance', 'Parental_Involvement', 'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours', 'Previous_Scores', 'Motivation_Level', 'Internet_Access', 'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities', 'Parental_Education_Level', 'Distance_from_Home', 'Gender', 'Exam_Score']

First 5 rows:

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [17]:
df_student.isnull().sum()

Hours_Studied                  0
Attendance                     0
Parental_Involvement           0
Access_to_Resources            0
Extracurricular_Activities     0
Sleep_Hours                    0
Previous_Scores                0
Motivation_Level               0
Internet_Access                0
Tutoring_Sessions              0
Family_Income                  0
Teacher_Quality               78
School_Type                    0
Peer_Influence                 0
Physical_Activity              0
Learning_Disabilities          0
Parental_Education_Level      90
Distance_from_Home            67
Gender                         0
Exam_Score                     0
dtype: int64